.App {
  text-align: center;
  background: #000000;
  font-family: 'Times New Roman', Times, serif;
  font-size: larger;
}

body {
  background: #000000;
  min-height: 400vh;
}
.header {
  color: rgb(255, 255, 255);
  margin-top: 100px;
  font-size: large;
  font-weight: bold;
}

.title {
  position: absolute;
  cursor: pointer;
  top: 40px;
  left: 10px;
  font-size: xx-large;

}

.options {
  color: rgb(255, 255, 255);
  background-color: rgb(255, 255, 255);
}

.aboutusop {
  color: rgb(255, 255, 255);
  background-color: rgb(40, 40, 40);
  position: absolute;
  top: 40px;
  right: 2%;
  font-size: larger;
  transition: font-size 0.6s cubic-bezier(0.25, 0.8, 0.25, 1);
  padding: 10px;
  border-radius: 5px;
}

.aboutusop:hover {
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  transform: scale(1.1);
  font-size: x-large;
  font-weight: bold;
}

.verifyop {
  color: rgb(255, 255, 255);
  background-color: rgb(40, 40, 40);
  position: absolute;
  top: 40px;
  right: 26%;
  font-size: larger;
  transition: font-size 0.6s cubic-bezier(0.25, 0.8, 0.25, 1);
  padding: 10px;
  border-radius: 5px;
  
}

.verifyop:hover {
  color: #000000;
  background-color: rgb(255, 255, 255);
  scale: 1.1;
  font-size: x-large;
  font-weight: bold;

}

.pre-intro {
  color: rgb(255, 255, 255);
  position: absolute;
  justify-content: center;
  align-items: center;
  top: 40vh;
  left: 20vh;
  right: 20vh;
  transform: translateY(-50%);
  font-size: 30px;
  font-weight: bold;
  font-family: 'Times New Roman', Times, serif;
}

.linktommw {
  color: royalblue;
}

.intro {
  color: rgb(255, 255, 255);
  position: absolute;
  justify-content: center;
  align-items: center;
  top: 150vh;
  left: 20vh;
  right: 20vh;
  transform: translateY(-50%);
  font-size: 70px;
  font-weight: bolder;
  font-family: 'Times New Roman', Times, serif;
}

.right {
  color: rgb(255, 255, 255);
  position: absolute;
  top: 120vh;
  right: 20%;
  transform: translateY(-50%);
}

.carousel {
  color: rgb(255, 255, 255);
  position: absolute;
  top: 300vh;
  left: 30vh;;
  transform: translateY(-50%);
  width: 100%;
  max-width: 70%;
  margin-bottom: 50px;
   /* Add margin-bottom to create vertical space */
  
}

.car2 {
  color: rgb(255, 255, 255);
  position: absolute;
  right: 39%;
  transform: translateY(-50%);
  top: 250vh;
  margin-top: 50px; /* Increase the top value to create more vertical space */
  max-width: 400px;
}

.fileinput {
  color: white;
  position: absolute;
  top: 100vh;
}
/*
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: rgb(148, 147, 144);
  min-height: 10;;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-link {
  color: black;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.Header {
  background-color: navajowhite;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}


.topheader {
  background-color: navajowhite;
  min-height: 10;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: calc(10px + 2vmin);
  color: black;
}
  

*/