.connectbutton {
    color: rgb(255, 255, 255);
    background-color: rgb(40, 40, 40);
    position: absolute;
    top: 40px;
    right: 13%;
    font-size: larger;
    transition: font-size 0.2s cubic-bezier(0.25, 0.8, 0.25, 1);
    padding: 10px;
    border-radius: 5px;
  }
  
.connectbutton:hover {
    color: #000000;
    background-color: rgb(255, 255, 255);
    scale: 1.1;
    font-size: x-large;
    font-weight: bold;

  }


.accountdisplay {
    position: absolute;
    font-weight: bolder;
    font-size: 25px;
    top: 30vh;
    text-align: center;
    justify-content: center;
    left: 50%;
    transform: translateX(-50%);
}


.accounttext {
    color: #ffffff;
    position: absolute;
    font-weight: bolder;
    font-size: 33px;
    top: 23vh;
    text-align: center;
    justify-content: center;
    left: 50%;
    transform: translateX(-50%);
}


.accounttext2 {
    color: #ffffff;
    position: absolute;
    font-weight: bolder;
    font-size: 33px;
    top: 23vh;
    text-align: center;
    justify-content: center;
    left: 50%;
    transform: translateX(-50%);
}
  