<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Cursor Animation</title>
    <link rel="stylesheet" href="CursorAnimation.css">
</head>
<body>
    <div class="cursor">
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
    </div>

    <script src="CursorAnimation.js"></script>
</body>
</html>
