.distributedcarousel {
    width: 100%;
    max-width: 800px; /* Example width, adjust as needed */
    margin: 0 auto; /* Center the carousel */
    overflow: hidden; /* Hide overflow */
  }

.mainitem {
  max-width: fit-content;
}
  